<div class="task-container">
  <div class="kanban-board" cdkDropListGroup>
    <div class="kanban-column" *ngFor="let column of statuses" cdkDropList [cdkDropListData]="taskGroups[column]" (cdkDropListDropped)="onDrop($event, column)">
      <div class="column-header">
        <h2 class="column-title">{{ column }}
         
        </h2>
        <div class="column-header-buttons">
          <button mat-icon-button (click)="openAddTaskDialog(column)">
            <mat-icon>add</mat-icon> 
          </button>
          <button mat-icon-button class="delete-icon" (click)="deleteColumn(column)">
            <mat-icon>delete</mat-icon>
          </button>  
        </div>
       
      </div>
     
      <div class="task-box">
        <div class="task-card" *ngFor="let task of taskGroups[column]" [ngClass]="getTaskStatusClass(task.status)" cdkDrag [cdkDragData]="task">
          <div class="task-items">
          <p><strong>Status:</strong> {{ task.status }}</p>
          <button mat-icon-button class="delete-icon" (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
          <p>{{ task.todo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>